// Specific CSS for your home-page

.container {
 width: 100%;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
  background-image: url(bannerbook.jpg);
  // opacity: 0.5;
  justify-content: center;
}

.title h1 {
    color: rgb(25, 60, 112);
    text-shadow: 4, 4, 2, black;
  }

.about {
  p {
    color: rgb(25, 60, 112);
  }
}


.main {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 1000px;
}

.slogan {
  text-align: center;
}
.sign-up-btn {
  text-align: center;
  margin: 30px 0 100px 0;
  text-decoration: none;
}
.footer {
  text-align: center;

}
.btn1 {
  text-decoration: none;
}
