<div class="banner">
  <div class="container">

    <div class="title">

      <h1>Book registration</h1>

    </div>

    <div class="main">

      <div class="about">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sit et error illum, doloremque amet laudantium neque ipsa repellat nihil deserunt nemo, minima reprehenderit nobis eos voluptates tenetur ex culpa. </p>

        <div class="sign-up-btn">
            <%= link_to 'Start Now', new_user_registration_path, class:"btn1 btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  </div>

</div>
<footer>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Ruby
    </div>
  </div>
</footer>
